body {
  font-size: 17px;
  color: #333;
  padding-top: 70px;
  padding-bottom: 30px;
}

.glyphicon {
  top: 5px;
}

.jumbotron {
  margin-top: 20px;
}

.company .hide-overflow {
  overflow:hidden;
}

.meetup-date {
  color: #9c9c9c;
  min-width: 8em;
}

.meetup-row {
  border-bottom: 15px solid transparent;
}

@media (max-width: 768px) {
  .xs-block {
    display: block;
  }
}
