---
layout: layout
title: "VanRuby - Past Meetups"
---

{% assign meetups = site.data.meetups | reverse %}

<h2>Meetups</h2>
<p>Check out the next upcoming meetup on <a href="https://meetup.com/vancouver-ruby/">our Meetup page</a>.</p>

<hr />

<table class"table hover">
  <tbody>
    {% for meetup in meetups %}
      {% assign num_slides = meetup.slides | size %}
      {% assign num_videos = meetup.videos | size %}

      <tr class="meetup-row">
        <td class="meetup-date xs-block">{{ meetup.date | date: '%b %d, %Y' }}</td>
        <td class="xs-block">
          <a href="javascript:void(0)" data-expand="#meetup-details-{{ forloop.index }}">
            {{ meetup.name }}
          </a>
          <div id="meetup-details-{{ forloop.index }}" class="js-meetup-details meetup-details hide">
            <ul>
              <li><a href="{{ meetup.url }}" target="_blank">Event on Meetup.com</a></li>
              {% for video in meetup.videos %}
                <li><a href="{{ video }}" target="_blank">Video</a></li>
              {% endfor %}

              {% for slide in meetup.slides %}
                <li><a href="{{ slide }}" target="_blank">Slides</a></li>
              {% endfor %}
            </ul>
            </p>
          </div>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

