<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-4 my-4 border-top">
    <a href="https://ruby.social/@vanruby" class="col-4 nav-link px-2 text-body-secondary">vanruby@ruby.social</a>

    <a class="col-4 d-flex align-items-center justify-content-center link-body-emphasis text-decoration-none" href="{{ site.baseurl }}/">
      <img src="/assets/images/van_ruby_logo.svg" alt="Logo" width="60" height="48" class="d-inline-block align-text-top">
    </a>

   <p class="col-4 mb-0 text-body-secondary d-flex justify-content-end">© 2025 VanRuby</p>
  </footer>
</div>

<script src="/assets/js/bootstrap.bundle.min.js" defer></script>
<script src="/assets/js/toggle-color-mode.js" defer></script>
