<meta charset="utf-8">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="icon" href="/favicon.ico" sizes="96x96">
<link rel="icon" href="/assets/images/van_ruby_favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

<link href="/assets/css/main.css" rel="stylesheet">
<link rel="me" href="https://ruby.social/@vanruby">

<script>
  (function() {
    const theme = localStorage.getItem('theme') || 'light';
    document.documentElement.setAttribute('data-bs-theme', theme);
  })();
</script>
